<body>
    <div class="content">
        <div class="top-cont">
            <p class="title-card">{{film.title | titlecase}}</p>
            <p>mot(s) decouvert(s) : 2 / 39</p>
            <div class="time">
                <span #progressBar class="progress-bar">
                    <div #bar class="bar"></div>
                </span>
                <p class="timer" *ngIf="!timeFinished">{{timer | async}}</p>
                <span *ngIf="timeFinished" class="time-end">terminé !</span>
            </div>
            <span class="gradient top-gradient">
            </span>
        </div>

        <div class="background" *ngIf="timeFinished">
            <div class="bg-content">
                <div class="synopsis">
                    <div class="header">
                        <h3>{{film.title | titlecase}}</h3>
                        <h2>score : {{score}}</h2>
                        <p>mot(s) decouvert(s) : {{ kwFindingScore | async }} / {{keywords.length}}</p>
                    </div>
                    <p [innerHTML]="generateStyledText(film.overview)"></p>
                </div>
            </div>
            <span class="bg"></span>
        </div>
        <img class="poster" [src]="posterPath" />

        <div #bottomContainer class="bottom-cont">
            <span class="gradient bottom-gradient">
                <button [ngClass]="timeFinished ? 'btn-share' : 'btn-share-hiden'">Parager votre score<span
                        class="material-symbols-outlined">
                        share
                    </span></button>
                <div class="keywordsList" *ngIf="(timer |async) !== 0">
                    <span *ngFor="let testedKw of testedKw.reverse()"
                        [ngClass]="[testedKw.score === 0 ? 'not-found' : 'keyword-found', testedKw.color === 'accent-error' ? 'accent-error' : '' ]"
                        class="tested-Kw-element">{{testedKw.keyword}} +{{testedKw.score}} <span
                            class="message">{{testedKw.message}}</span></span>
                </div>
            </span>
            <span #bottomContent class="bottom-content">
                <input [disabled]="timeFinished" #keywordInput id="keyword-input" type="text"
                    (keyup.enter)="sendKeyword(keywordInput.value)"
                    placeholder="un mot qui pourrait être dans le synopsis.">
            </span>
        </div>
    </div>
</body>