@import '/src/colors.scss';

$gradient-height:12em;

input {
    width: 100%;
    margin: 2em;
    padding: 0.5em 1em;
    font-size: 16pt;
    border-radius: 100px;
    &:focus{
        outline: none;
    }
}

.content{
    font-family: 'Pathway Extreme', sans-serif;
    position: relative;
    height: 100vh;
    width: 100%;
}
.poster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: -2;
}

.background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    .bg-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        opacity: 1;
        padding: 0 2em;

        h2{
            font-size: 32px;
        }
        
        .synopsis{}
    }
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        background-color: $black-500;
        height: 100% ;
        width: 100%;
        z-index: -1 !important;
        opacity: 0.8;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.top-cont {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    
    .title-card {
        background-color: $black-500;
        font-size: 32px;
        font-weight: 800;
        text-align: center;
        padding: 1em 2em;
        color: $white;
    }
    
    .time{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: $black-500;
        padding: 0 2em;
        gap: 1em;

        .progress-bar{
            background-color: $dark-gray-500;
            height: 1em;
            width: 100%;
            border-radius: 100px;
            overflow: hidden;
            
            .bar{
                background-color: $success;
                height: 100%;
                width: 40%;
            }
        }

        .timer{
            width: 40px;
            background-color: $black-500;
            color: $white;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
        }
    }
 
    .top-gradient{
        transform: rotate(180deg);
    }
}

.bottom-cont{
    width: 100%;
    bottom: 0;
}

.top-cont,
.bottom-cont {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    
    
    .bottom-content {
        background-color: $black-500;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;

    }

}

.gradient {
    height: $gradient-height;
    width: 100%;
    background: linear-gradient(0deg, $black-500 0%, rgba(6, 6, 6, 0.35) 52.6%, rgba(6, 6, 6, 0) 100%);
}

.keywordsList{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    top:  $gradient-height;
    font-weight: 700;
    left: 0;
    padding: 0 2em;
    height: 100%;
    transform: translate(0%, -100%);
    filter: drop-shadow(0 0 1em $black-500);
    
    .tested-Kw-element{
        color: $gray-100;
        font-size: 20px;
    }

}
.not-found{
    text-decoration:line-through;
}

.keyword-found{
    color: $success !important;
}