@import '/src/colors.scss';

.header {
    // padding: 2em 0;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .search-bar {
   
    }

    .btn {
        width: 80% !important;
        background-color: $white;
    }

}