<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;700&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Permanent+Marker&display=swap"
  rel="stylesheet">


<div class="shelf-background">
  <div class="shelf"></div>
  <svg viewBox='0 0 1 100' class="dust">
    <filter id='noiseFilter'>
      <feTurbulence type='fractalNoise' baseFrequency='6' numOctaves='6' stitchTiles='stitch' />
    </filter>
    <rect width='100%' height='100%' filter='url(#noiseFilter)' />
  </svg>
  <div class="collection-container">
    <app-vhs-spine [movie]="movie" *ngFor="let movie of movieList | async"></app-vhs-spine>
  </div>
  <div class="shelf" style="transform: rotate(180deg);"></div>
</div>