.collection-container {
    display: flex;
    flex-direction: row;
}

.shelf-background {
    position: relative;
    padding: 2em 0;
    background: linear-gradient(#945929 0%,  #160d05 10%, #4b2e16 100%);
    // z-index: -10 !important;
    user-select: none;

    .dust{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        filter: blur(10px) contrast(0) brightness(0);
        z-index: 0;
        mix-blend-mode: color-burn;
    }
    .shelf {
        background: linear-gradient(#160d05 0%, #945929 95%, #c98147 100%);
        width: 100%;
        height: 4em;
    }
}