$spine-height: 415px;
$spine-width: 56px;

$vhs-t1-black: #131418;
$vhs-t1-white: #f1f1ef;
$vhs-t1-gradient: linear-gradient(180deg, #F228EA 0%, #622074 0.01%, #F05A98 18.23%, #FF7714 51.04%, #FB9913 68.23%, #F7BC12 85.94%, #FFD600 100%);
$vhs-t1-gradient-hor: linear-gradient(90deg, #F228EA 0%, #622074 0.01%, #F05A98 18.23%, #FF7714 51.04%, #FB9913 68.23%, #F7BC12 85.94%, #FFD600 100%);

$vhs-t2-black: #0F111A;
$vhs-t2-white: #f1f1ef;
$vhs-t2-gradient: linear-gradient(180deg, rgba(231, 58, 78, 1) 0%, rgba(231, 58, 78, 1) 16.7%, rgba(252, 175, 67, 1) 16.7%, rgba(252, 175, 67, 1) 33.3%, rgba(253, 216, 3, 1) 33.3%, rgba(253, 216, 3, 1) 50%, rgba(70, 166, 68, 1) 50%, rgba(70, 166, 68, 1) 67.3%, rgba(45, 72, 153, 1) 67.3%, rgba(45, 72, 153, 1) 83.3%, rgba(96, 42, 153, 1) 83.3%, rgba(96, 42, 153, 1) 100%);
$vhs-t2-gradient-hor: linear-gradient(90deg, rgba(231, 58, 78, 1) 0%, rgba(231, 58, 78, 1) 16.7%, rgba(252, 175, 67, 1) 16.7%, rgba(252, 175, 67, 1) 33.3%, rgba(253, 216, 3, 1) 33.3%, rgba(253, 216, 3, 1) 50%, rgba(70, 166, 68, 1) 50%, rgba(70, 166, 68, 1) 67.3%, rgba(45, 72, 153, 1) 67.3%, rgba(45, 72, 153, 1) 83.3%, rgba(96, 42, 153, 1) 83.3%, rgba(96, 42, 153, 1) 100%);

$vhs-t3-black: #14111B;
$vhs-t3-white: #f1f1ef;
$vhs-t3-gold: #CBAB38;
$vhs-t3-gradient: linear-gradient(90deg, #1E0D5B 0%, #C34EA4 51.04%, #EBA400 100%);
$vhs-t3-gradient-hor: linear-gradient(180deg, #1E0D5B 0%, #C34EA4 51.04%, #EBA400 100%);


$sticker-bg: #E5DFD4;
$sticker-bg-light: #EAEAEA;
$sticker-marker-black: #060606;
$sticker-border-red: #AD6D6D;

$spine-back-cassette-color-white: #E5DFD4;
$spine-back-cassette-color-back: #3f3f3e;
$spine-back-cassette-color-back-100: #797978;
$spine-back-cassette-color-back-gradient: linear-gradient(to top, transparent 0%, transparent 30%, rgb(100, 100, 100) 100%);
$spine-back-cassette-color-back-gradient-revert: linear-gradient(to bottom, transparent 0%, transparent 30%, rgb(100, 100, 100) 100%);


%vertical-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}



%vhs-effect {

    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in;

    position: relative;
    width: $spine-width;
    height: $spine-height;
    overflow: hidden;
    // border-top: 2px solid rgba(198, 198, 198, 0.1);
    // border-right: 2px solid rgba(198, 198, 198, 0.1);
    border: 1px solid rgb(53, 53, 53);
    border-top-left-radius: 2px;
    border-radius: 2px;

    .reflect {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: radial-gradient(50% 50.00% at 50% 50.00%, #ece5e5 0%, rgba(185, 185, 185, 0.00) 100%);
        mix-blend-mode: black-dodge;
        opacity: 0.8;
    }

    .noise {
        position: absolute;
        width: 100%;
        height: 100%;
        mix-blend-mode: soft-light;
    }

    .bottom-reflect {
        position: absolute;
        bottom: 0;
        height: 24px;
        width: 100%;
        background: radial-gradient(60% 100.00% at 50.00% 0.00%, rgba(217, 217, 217, 0.00) 0%, rgba(210, 210, 210, 0.00) 85%, #5c5c5c 100%, #5c5c5c 100%);
        mix-blend-mode: hard-light;
        opacity: 0.2;
    }


    .sticker {
        position: absolute;
        left: -80%;
        min-width: 140px;
        border-radius: 4px;
        padding: 4px;
        background: $sticker-bg;

        transform: rotate(90deg);

        .title {
            position: absolute;
            top: 50%;
            left: 15%;
            line-height: 16px;
            transform: translate(-15%, -50%);
            font-family: 'Permanent Marker', cursive;
        }

        .border {
            border-radius: 4px;
            border: 1px solid $sticker-border-red;
            background: $sticker-bg-light;

            .lines {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 8px;
                gap: 8px;

                span {
                    background: $sticker-bg;
                    height: 1px;
                    width: 100%;
                }
            }
        }
    }

}

%default-spine {
    position: relative;
    background: $vhs-t1-black;
    height: 100%;
    width: 100%;
    z-index: -1;
    font-family: 'Pathway Extreme', sans-serif;


    .vhs-model-name {
        position: absolute;
        transform: translate(-50%, 0);
        right: -50%;
        top: 60px;
        color: $vhs-t1-white;
        transform: rotate(-90deg);
        font-weight: 800;
        font-size: 20px;
        white-space: nowrap;
        line-height: 28px;
    }

    .brand-model {
        color: $vhs-t1-white;
        border: 1px solid $vhs-t1-white;
        @extend %vertical-center;
        bottom: 84px;
        text-align: center;
        font-size: 8px;
        line-height: 8px;
        padding: 4px;
        width: 32px;
    }

    .bottom-text {
        position: absolute;
        bottom: 24px;
        color: $vhs-t1-white;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        width: 100%;
    }

    .center-img {
        position: absolute;
        top: 152px;
        background: $vhs-t1-gradient-hor;
        height: 132px;
        width: 100%;
    }

    .bottom-img {
        position: absolute;
        bottom: 0;
        background: $vhs-t1-gradient;
        height: 16px;
        width: 100%;
    }
}

%line {
    background: linear-gradient(0deg, #535353 0%, #535353 100%);
    width: 1px;
    height: 100%;
}

%vhs-spine-hover {
    @extend %vhs-effect;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0); 
    background-color: #622074;
    z-index: 3;

    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;

    .side-cover {
        @extend %default-spine;
    }

}


// ---------------------------------------------------------------------------------



%spine-back {
    position: relative;
    background: $spine-back-cassette-color-back;
    height: $spine-height;
    width: $spine-width;
    overflow: hidden;
    border: 1px solid #747474;
    border-radius: 2px;
    
    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;


    .sticker {
        @extend %vertical-center;
        background-color: $spine-back-cassette-color-white;
        z-index: 1;

        display: flex;
        flex-direction: row !important;
        justify-content: stretch;

        font-family: 'Permanent Marker', cursive;
        writing-mode: tb;
        height: 260px;
        width: 32px;
        bottom: 48px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
        overflow: hidden;

        .top-part {
            background: red;
            height: 32px;
        }

        .content-part {
            flex-grow: 2;
            border-left: red solid 2px;
            border-right: red solid 2px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 8px 0;

            .line {
                @extend %line;
                mix-blend-mode: overlay;
            }

        }

        .bottom-part {
            height: 16px;
            background: red;
        }

        .title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $sticker-marker-black;
        }

    }

    .noise {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        opacity: 0.25;
    }

    .dust {
        mix-blend-mode: color;
    }

    .cassette-gradient-sm {
        position: absolute;
        height: 16px;
        width: 100%;
        background: $spine-back-cassette-color-back-gradient;
        left: 0;
        mix-blend-mode: multiply;
        z-index: 1;
    }

    .gradient-top {
        top: 0;
    }

    .gradient-bottom {
        transform: rotate(180deg);
        bottom: 0;
    }


    %insert {
        @extend %vertical-center;
        width: 40px;
        position: absolute;
        $border: 2px;
        background: $spine-back-cassette-color-back-100;
        border-radius: 8px;
        border: 2px solid rgb(97, 97, 97);
        mix-blend-mode: overlay;
        bottom: 40px;
    }

    .insert-top {
        -webkit-mask-image: $spine-back-cassette-color-back-gradient;
        mask-image: $spine-back-cassette-color-back-gradient ;
        @extend %insert;
        bottom: 40px;
        height: 280px;
        opacity: 0.6;
    }

    .insert-bottom {
        -webkit-mask-image: $spine-back-cassette-color-back-gradient-revert;
        mask-image: $spine-back-cassette-color-back-gradient-revert ;
        @extend %insert;
        height: 60px;
    }


    .center-line {
        @extend %vertical-center;
        display: flex;
        flex-direction: row;
        width: 2px;
        height: 100%;
        opacity: 0.4;
        mix-blend-mode: hard-light;
        z-index: 0;

        .line-1 {
            @extend %line;
        }

        .line-2 {
            @extend %line;
            transform: rotate(180deg);
        }
    }

    %border-custom {
        position: absolute;
        height: 100%;
        width: 2px;
    }

    .border-custom-l {
        left: 0;
        background: linear-gradient(90deg, #323232 0%, rgba(50, 50, 50, 0.33) 42.71%, rgba(50, 50, 50, 0.00) 100%);
        @extend %border-custom;
        mix-blend-mode: hard-light;

    }

    .border-custom-r {
        right: 0;
        background: linear-gradient(-90deg, #323232 0%, rgba(50, 50, 50, 0.33) 42.71%, rgba(50, 50, 50, 0.00) 100%);
        @extend %border-custom;
        mix-blend-mode: hard-light;

    }

}

%vhs-back-hover {
    @extend %spine-back;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0); 
    z-index: 3;

    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 50ms;
    transition-timing-function: ease-out;

}