@import '/src/colors.scss';


* {
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html,
body {
    height: 100%;
    width: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Pathway Extreme', sans-serif;
}

h1{
    font-weight: 900;
    font-size: 24pt;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn{
    font-family: 'Pathway Extreme', sans-serif;
    padding: 1em 0.5em;
    border: solid $black-500 4px;
    color: $black-500;
    font-size: 16pt;
    font-weight: 900;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
    margin: 2px;

    &:hover{
        color: $primary;
        margin: 0;
        border-bottom: solid $black-500 6px;
        border-right: solid $black-500 6px;
    }

    &:active{
        color: $primary;
        margin: 0;
        border: solid $primary 4px;
        border-bottom: solid $primary 6px;
        border-right: solid $primary 6px;
    }
}

.divider{
    background-color: $primary;
    height: 1px;
    margin: 0.5em 0;
}

.chip{

    color: $black-500;
    background-color:$gray-100;;
    padding: 0.25em 0.75em;
    border-radius: 1em;

    &:hover{

    }

    &:active{

    }
}

input {
    font-size: 24px;
    font-family: 'Pathway Extreme', sans-serif;
    width: 100%;
    border: none;
    background-color: $white;

    &:focus {
        outline: none;
        text-decoration: none;
        // font-family: 'Pathway Extreme', sans-serif;
    }
}

.not-found{
    text-decoration:line-through;
    font-weight: 400;
}

.keyword-found{
    color: $success !important;
}

.accent-error{
    background-color: rgba(243, 96, 11, 0.3);
    color: $black-500 !important;
}


.find{
    background-color: rgba(243, 201, 11, 0.3);
    color: $black-500 !important;
    font-weight: 600 !important;
    padding: 1px 2px;
}

.findable{
    color: $black-500 !important;
    font-weight: 500 !important;
}
